@font-face {
  font-family: 'Lovelo';
  src: font-url('fonts/Lovelo-Black.otf')  format('opentype'),
       font-url('fonts/Lovelo-Black.woff') format('woff'),
       font-url('fonts/Lovelo-Black.woff2') format('woff'),
       font-url('fonts/Lovelo-Black.ttf')  format('truetype');      
  font-weight: normal;
  font-style: normal;
}

